<%- include('header') %>
  
        <form class="form-container" id="form" method="GET" action="/cotacao">
                <input class="cotacao" name="cotacao" type="text" placeholder="Cotação Dólar (R$)" value="<%= cotacao %>">
                <input class="qtd" type="text" name="quantidade" placeholder="Quantidade (un.)">
                <button id="btn" class="btn btn-primary btn-lg">Converter!</button>
        </form>
</div>


<%- include('footer') %>