<%- include('header') %>
<form class="form-container" method="GET" action="/cotacao">
        <input class="form1" name="cotacao" type="text" placeholder="Cotação Dólar (R$)">
        <input type="text" name="quantidade" placeholder="Quantidade (un.)">
        <button>Converter!</button>
</form>



<%- include('footer') %>