:root{
    font-size: 60%;
    /*9,6px
    1.7rem = 16px
    2.5rem = 24px
    */
}
html, 
body{
    height: 70vh;
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*escolher se quer controlar pela caixa ou
    margin, enfim*/
}
#container{
    max-width: 1000px;
    width: 100vw;
}
body {
    
    display: flex;
    align-items: top;
    justify-content: center;
    text-align: center;
}
.bck-img{
    
    max-width: 300px;
    background-image: url("/images/undraw_Calculator_0evy.svg");
    background-color: #cccccc;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.logo-container img{
    max-height: 3rem;
    height: 1.2rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: 10.7rem;
}
.form-container input{
    background: #fdfdfd;
    text-align: center;
}
.form-container input, button{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    height: 2rem;
    border: 1px solid black;
    font-size: 1rem;
    border-radius: 0.8rem;
    transition: 0.5s;
}
::-webkit-input-placeholder {
    text-align: center;
}

.form-container .form1{
    margin-top: 7rem;
}
.form-container button{
    width: 10rem;
    height: 3rem;
    display: block;
    margin: 3rem auto;

}
.form-container button:hover{
    background-color: rgb(3, 109, 3);
}
.result{
    padding: 2rem;
    margin: 5rem auto;
    border: 1px solid black;
    background: #fdfdfd;
    width: 30rem;
}